@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dynamic-heading {
    @apply text-6xl max-lg:text-4xl uppercase
    font-bold font-title;
  }

  .dynamic-subheading {
    @apply text-5xl max-lg:text-3xl uppercase
    font-bold font-title;
  }

  .input-field {
    @apply border-[1px] border-gray-300 rounded-md p-1 outline-none font-title w-full;
  }

  .primary-button {
    @apply bg-primary hover:bg-protonred transition-all duration-150
    rounded-lg 
    font-bold 
    text-white drop-shadow-[0px_4px_0px_rgba(134,5,5,1)];
  }

  .secondary-button {
    @apply bg-crystalrose hover:bg-rubberradish transition-all duration-150
    rounded-lg 
    drop-shadow-[0px_4px_0px_rgba(251,153,153,1)]
    text-lg first:uppercase font-bold text-black/80;
  } 
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
